.node {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(175, 216, 248);
  background-color: white;
}

.node-finish {
  background-image: url(../../styling/14274017891654131770.svg);
  background-position: center;
  background-size: cover;
}

.node-start {
  background-image: url(../../styling/go-start-svgrepo-com.svg);
  background-position: center;
  background-size: contain;
}


.node-wall {
  animation-name: nodewall;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  background-color: rgb(27, 27, 27);
  outline: 0px;
}

@keyframes nodewall{
  0%{
    transform: scale(1.5);
    background-color: rgb(173, 173, 173);
  }
  50%{
    transform: scale(1);
    background-color: rgb(99, 99, 99);
  }
  100%{
    background-color: rgb(27, 27, 27);
  }
}

.node-visited {
  animation-name: visitednode;
  animation-duration: 1.5s;
  background-color: rgb(23, 123, 200);
}

@keyframes visitednode {
  0% {
    transform: scale(0.4);
    background-color: rgb(65, 20, 47);
    border-radius: 60%;
  }
  50% {
    background-color: rgba(225, 7, 138, 0.76);
  }
  75%{
    transform: scale(1.2);
    background-color: rgba(0, 243, 243, 0.379);
  }
  100% {
    transform: scale(1);
    background-color: rgba(19, 104, 168, 0.84);
  }
}


.node-shortestpath {
  animation-name: shortestpath;
  animation-duration: 1.5s;
  background-color: rgb(238, 104, 187);
}

@keyframes shortestpath {
  0% {
    transform: scale(0.4);
    background-color: rgba(245, 43, 43, 0.905);
    border-radius: 60%;
  }
  50% {
    background-color: rgb(252, 10, 143);
  }
  75%{
    transform: scale(1.2);
    background-color: rgba(241, 72, 176, 0.593);
  }
  100% {
    transform: scale(1);
    background-color: rgb(241, 72, 176);
  }
}
