.node {
  width: 30px;
  height: 30px;
  border: 2px solid rgb(175, 216, 248);
  background-color: #262730;
}

.node-finish {
  background-color: rgb(236, 67, 194);
  background-position: center;
  background-size: cover;
}

.node-finish-visited {
  animation-name: visitednode;
  animation-duration: 1.5s;
  background-color: rgb(23, 123, 200);
  background-image: url(../../styling/14274017891654131770.svg);
  background-position: center;
  background-size: cover;
}

.node-start {
  background-color: rgb(42, 128, 194);
  background-position: center;
  background-size: cover;
}

.node-start-visited {
  animation-name: visitednode;
  animation-duration: 1.5s;
  background-color: rgb(23, 123, 200);
  background-image: url(../../styling/go-start-svgrepo-com.png);
  background-position: center;
  background-size: cover;
}

.node-wall {
  animation-name: nodewall;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  background-color: rgb(27, 27, 27);
  outline: 0px;
}

@keyframes nodewall {
  0% {
    transform: scale(1.5);
    background-color: rgb(173, 173, 173);
  }
  50% {
    transform: scale(1);
    background-color: rgb(99, 99, 99);
  }
  100% {
    background-color: rgb(27, 27, 27);
  }
}

.node-visited {
  animation-name: visitednode;
  animation-duration: 1.5s;
  background-color: rgb(35, 136, 214);
}

@keyframes visitednode {
  0% {
    transform: scale(0.2);
    background-color: rgb(65, 20, 47);
    border-radius: 100%;
  }
  50% {
    background-color: rgba(225, 7, 138, 0.76);
    border-radius: 50%;
  }
  75% {
    transform: scale(1.2);
    background-color: rgba(0, 243, 243, 0.379);
  }
  100% {
    transform: scale(1);
    background-color: rgb(35, 136, 214);
  }
}

.node-finish-shortestpath {
  animation-name: shortestpath;
  animation-duration: 1.5s;
  background-color: rgba(41, 228, 169, 0.892);
  background-image: url(../../styling/14274017891654131770.svg);
  background-position: center;
  background-size: cover;
}

.node-shortestpath {
  animation-name: shortestpath;
  animation-duration: 1.5s;
  background-color: rgba(41, 228, 116, 0.708);
}

@keyframes shortestpath {
  0% {
    transform: scale(0.4);
    background-color: rgba(255, 244, 32, 0.851);
    border-radius: 60%;
  }
  50% {
    transform: scale(1.2);
    background-color: rgba(39, 255, 50, 0.853);
  }
  100% {
    transform: scale(1);
    background-color: rgba(41, 228, 169, 0.892);
  }
}
