.Navbar {
  width: 100%;
  height: 180px;
  font-family: "Montserrat", sans-serif;
  color: rgb(224, 236, 246);
  background-color: #020d21;
  padding-top: 15px;
}
.logo {
  display: flex;
}
h1 {
  color: rgb(224, 236, 246);
  font-size: 2.2rem;
  padding: 0px 10px 0px 20px;
}

button {
  all: unset;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700px;
  padding: 12px;
  margin-right: 25px;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
  transition: transform 0.05s ease-out;
  border: 0px;
}

.gen-btn:hover {
  color: #1fac1d;
  transform: scale(1.1);
  transition: background-color 0.25s ease-out;
  transition: transform 0.05s ease-in;
}

.gen-btn:active {
  transform: scale(1);
  color: rgb(235, 235, 235);
  background-color: #1fac1d;
  box-shadow: 2px 2px 10px #0f4e0d inset;
}

.create-walls:hover {
  color: #1fac1d;
  transform: scale(1.05);
  transition: background-color 0.25s ease-out;
  transition: transform 0.05s ease-in;
}
.focus {
  transform: scale(1);
  color: rgb(235, 235, 235);
  background-color: #1fac1d;
  box-shadow: 2px 2px 10px #0f4e0d inset;
}
.focus:hover {
  transform: scale(0.95);
  color: rgb(235, 235, 235);
}
.visualize-dijkstra {
  font-weight: 600;
  font-size: 20px;
  color: #0fa0fb;
  padding: 16px;
  transition: background-color 0.5s ease-out;
}

.visualize-dijkstra:hover {
  background-color: #0fa0fb;
  color: white;
}

.visualize-dijkstra:focus {
  background-color: #0fa0fb;
  color: white;
}

.footer {
  width: 100%;
  height: 70px;
  font-family: "Montserrat";
  font-weight: bold;
  color: lightslategrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin-right: 60px;
}

.startNode {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(175, 216, 248);
  margin-right: 5px;
  background-image: url(../styling/go-start-svgrepo-com.png);
  background-position: center;
  background-size: cover;
}

.finishNode {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(175, 216, 248);
  margin-right: 5px;
  background-image: url(../styling/14274017891654131770.svg);
  background-position: center;
  background-size: cover;
}
